.gallery-button {
	text-align: center;
	font-size: 6em;
	width: 200px;
	height: 100px;
	float: left;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	cursor: pointer;
}

#gallery-content {
	width: calc( 100% - 400px );
	float: left;
}
