body {
	background-color: #abf;
	margin: 0;
}
/*
#social i {
	font-size: 3em;
}*/

#social a {
	text-decoration: none;
	color: #111;
}

#social a:hover {
	background-color: #89d;
	border-radius: 3px;
}

#banner {
	width: 100%;
	height: 35vh;
	background-color: pink;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

#banner h1 {
	margin: 0;
}

#banner img {
	height: 100%;
	width: auto;
	display: table-cell;
}

#social {
	margin-left: 1em;
}
