body {
	background-color: #abf;
	margin: 0;
}

#social {
	margin-left: 1em;
}

#social a {
	text-decoration: none;
	color: #111;
	background-color: #89d;
	border-radius: 3px;
	padding: 0.3em;
}

#social a:hover {
	animation: col 22s infinite;
}

#guide {
	padding: 1em;
}

#guide a{
	text-decoration: none;
	background-color: pink;
	padding: 1em;
}

#guide a:hover{
	/*background-color: red;*/
	border: red 3px solid;
	padding: calc( 1em - 3px );
}

@keyframes col {
	100%{ background-color: #00F; }
	67% { background-color: #F00; }
	33% { background-color: #0F0; }
	0%  { background-color: #00F; }
}

@media screen and ( min-width: 1200px ) {
	/*MOBILE*/
}
